<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="content-container">
    <!-- Begin Header -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Index.html"><b> Health</b> One</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.php">Home</a></li>
                <li><a href="Contact.php">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="Contact">
        <section class="contact-page">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Neem contact met ons op</h3>
                        <h4>Stuur ons hier een bericht..</h4>
                        <alert-message v-if="message !== ''" :message="message"></alert-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="lastMame">Voornaam</label>
                        <input type="text" id="firstName" :class="{'input-error': isInvalid('firstName')}" class="form-control" placeholder="John" v-model="formData.firstName.value">
                    </div>
                    <div class="col form-group">
                        <label for="lastMame">Achternaam</label>
                        <input type="text" id="lastName" :class="{'input-error': isInvalid('lastName')}" class="form-control" placeholder="Doe" v-model="formData.lastName.value">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="subject">Onderwerp</label>
                        <input type="text" class="form-control" id="subject" :class="{'input-error': isInvalid('subject')}" placeholder="Onderwerp.." v-model="formData.subject.value">
                    </div>
                </div>
                <div class="row">
                    <div class="col form-group">
                        <label for="message">Bericht</label>
                        <textarea class="form-control" id="message" :class="{'input-error': isInvalid('message')}" style="height: 150px" placeholder="Hoe kunnen wij u helpen?" v-model="formData.message.value"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                        <button class="btn btn-primary float-right" @click="send()">
                            <span>Verzenden</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <h4>Onze adresgegevens</h4>
    <h4>Jaarlaan 2, 4325GW<br></h4>
    <h4>Ons kantoor is vanaf maandag t/m vrijdag tussen 9:00 en 17:00 geopend<br></h4>
    <h4>Telefoonnummer: 06221315</h4>
    <div id="footer">
        <div class="container text-left">
            <div class="row">
                <!--First column-->
                <div class="col-md-6">
                    <h6 class="mb-4 mt-3 font-weight-bold"><a href="Home.php"><i class="fa fa-building-o" style="font-size:16px;"><b> Health</b> One</i></a></h6>
                    <ul class="list-unstyled">
                        <li>
                            Jaarlaan 2
                        </li>
                        <li>
                            4325GW Amsterdam
                        </li>
                        <li>
                            Nederland
                        </li>
                        <li>
                            <br>
                            &copy; 2018 Zilveren Kruis
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5 class="mb-4 mt-3 font-weight-bold"><b>Nuttige links</b></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Verken</a>
                        </li>
                        <li>
                            <a href="#!">Reviews</a>
                        </li>
                        <li>
                            <a href="#!">Een link</a>
                        </li>
                        <li>
                            <a href="#!">Nog een link</a>
                        </li>
                        <li>
                            <a href="#!">Andere link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
</html>

<style>

    * {
        margin: 0;
    }

    html, body {
        height: 100%;
        background-color: rgb(228, 228, 228);
    }

    h3, h4, p {
        text-align: center;
    }

    .border-link {
        border-bottom: 3px solid red;
    }

    #content-container {
        height: auto !important;
        min-height: 100%;
        margin: 0 auto;
    }

    .container p {
        color: black;
    }

    #footer {
        min-height: 18%;
        margin-top: 2%;
        padding-top: 2%;
        background-color: rgba(193, 188, 188, 0.55);
        font-size: 14px;
    }

</style>


