<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="content-container">
    <!-- Begin Header -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="Home.php"><b> Health</b> One</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="Home.php">Home</a></li>
                <li><a href={{ path('contact.php.twig') }}">Contact</a></li>
            </ul>
        </div>
    </nav>
    <div class="header-picture">
        <div class="gradient-image">
            <h2><b>Uw zorgverzekering in 2019</b></h2>
            <h3>De veranderingen voor de basisverzekering zijn bekend.<br> Benieuwd wat dit voor u betekent?</h3>
            <!--			<a style="margin-top: 0px; background-color: rgb(28,161,224);" class="btn btn-primary icon-arrow-1-right">Bekijk de veranderingen in 2019</a>-->
        </div>
    </div>
    <!-- End Header picture -->
    <br>
    <!-- Begin Container -->
    <div class="container text-align">

        <h2><b>Kies uw beroep hier</b></h2>
        <a style="margin-top: 0px; background-color: rgb(28,161,224);" class="btn btn-primary icon-arrow-1-right" a href="Artsen.php">Arts</a>
        <a style="margin-top: 0px; background-color: rgb(28,161,224);" class="btn btn-primary icon-arrow-1-right" a href="Apotheker.php">Apotheker</a>
        <a style="margin-top: 0px; background-color: rgb(28,161,224);" class="btn btn-primary icon-arrow-1-right" a href="Verzekeraar.php">Verzekeringsmedewerker</a>

    </div>
    <!-- End Container -->
</div>
<!-- End content-contrainer -->

<!-- Begin Footer -->
<div id="footer">
    <div class="container text-left">
        <!--First column-->
        <div class="col-md-4">
            <h6 class="mb-4 mt-3 font-weight-bold"><a href="Home.php"><i class="fa fa-building-o" style="font-size:14px;"><b> Health</b> One</i></a></h6>
            <ul class="list-unstyled">
                <li>
                    Jaarlaan 2
                </li>
                <li>
                    4325GW Amsterdam
                </li>
                <li>
                    Nederland
                </li>
                <li>
                    <br>
                    &copy; 2018 Zilveren kruis
                </li>
            </ul>
        </div>
        <!--/.First column-->
        <b>
            <!--Second column-->
            <div class="col-md-4">
                <h5 class="mb-4 mt-3 font-weight-bold"><b>Nuttige links</b></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Verken</a>
                    </li>
                    <li>
                        <a href="#!">Reviews</a>
                    </li>
                    <li>
                        <a href="#!">Een link</a>
                    </li>
                    <li>
                        <a href="#!">Nog een link</a>
                    </li>
                    <li>
                        <a href="#!">Andere link</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
            <!--Third column-->
            <div class="col-md-4">
                <h5 class="mb-4 mt-3 font-weight-bold"><b>Het bedrijf</b></h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Over ons</a>
                    </li>
                    <li>
                        <a href="#!">Carrières</a>
                    </li>
                    <li>
                        <a href="#!">Perscentrum</a>
                    </li>
                    <li>
                        <a href="#!">Algemene voorwaarden</a>
                    </li>
                    <li>
                        <a href="Contact.php">Contact</a>
                    </li>
                </ul>
            </div>
            <!--/.Third column-->
        </b>
    </div>
</div>
</div>
<!-- End Footer -->
</div>
</html>

<style>

    *{
        margin: 0;
    }

    html, body {
        height: 92%;
        background-color: rgb(228, 228, 228);
    }

    .border-link {
        border-bottom: 3px solid red;
    }

    #content-container {
        height: auto !important;
        min-height: 100%;
        margin: 0 auto;
    }

    .btn {
        margin-right: 5px;
    }

    .gradient-image {
        text-align: center;
        color: white;
        margin-top: -20px;
        padding-top: 10px;
        width: 100%;
        height: 350px;
        background:
                linear-gradient(to left,
                rgba(0,0,70, 0.80),
                rgba(28,181,224, 0.50)),
                url(../assets/ziekenhuis.png);
    }

    .list-box {
        background-color: white;
        max-width: 50%;
        height: 65px;
        margin: auto;
        margin-top: 50px;
    }

    #footer {
        min-height: 18%;
        margin-top: 0%;
        padding-top: 0%;
        background-color: rgba(193, 188, 188, 0.55);
        font-size: 14px;
    }
